.container {
  display: block;
  position: fixed;
  height: 98.5vh;
  overflow-y: auto;
  left: 0;
  top: 0;
  margin: 5px;
  border-radius: 10px;
  width: 264px;
  background: linear-gradient(45deg, #59ab40, #ffa355);
}

.logo {
  width: 165px;
  margin-top: 1.5rem;
  margin-left: 2.7rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

